Unattended-Upgrade::Allowed-Origins {
{% for origin in patch_unattended_package_origins %}
    "{{ origin }}";
{% endfor %}
};

Unattended-Upgrade::Package-Blacklist {
{% if patch_package_blacklist_regexp is defined %}
{% for package in patch_package_blacklist_regexp %}
    "{{ package }}";
{% endfor %}
{% endif %}
};

{% for option in patch_unattended_options %}
{{ option }};
{% endfor %}
